<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.csi.it/mddtools"
            class="it.csi.mddtools.guigen.GuigenPackage"
            genModel="src/metamodel/guigen"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated guigen -->
      <factory
            uri="http://www.csi.it/mddtools"
            class="it.csi.mddtools.guigen.provider.GuigenItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   <extension
         point="org.eclipse.xtend.typesystem.emf.checks">
      <metaModel
            nsURI="http://www.csi.it/mddtools"
            override="false">
         <checkFile
               path="metamodel/Checks">
         </checkFile>
      </metaModel>
   </extension>
   <extension
         point="org.eclipse.epsilon.ewl.emf.wizards">
      <wizards
            file="src/ewl/typesWizards.ewl"
            namespaceURI="http://www.csi.it/mddtools">
      </wizards>
   </extension>
   <extension
         point="org.eclipse.epsilon.ewl.emf.wizards">
      <wizards
            file="src/ewl/uiWizards.ewl"
            namespaceURI="http://www.csi.it/mddtools">
      </wizards>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.tool">
      <tool
            class="it.csi.mddtools.guigen.genutils.GenUtils"
            defaultName="guigen.genutils.tool">
      </tool>
   </extension>

</plugin>
