/*
*stili personalizzati per il core
*/
.dialog-panel-info {
	background: url('../images/icon-info.gif') no-repeat 0 0 !important;
}
.dialog-panel-error {
	background: url('../images/icon-error.gif') no-repeat 0 0 !important;
}
.dialog-panel-question {
	background: url('../images/icon-question.gif') no-repeat 0 0 !important;
}
.dialog-panel-warning {
	background: url('../images/icon-warning.gif') no-repeat 0 0 !important;
}